<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Amigo</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
			<strong>Index</strong><br/><br/><br/>
				<a href="amigo">Amigo</a><br/>
				<a href="amigo/Add">Amigo Add</a><br/>
				<a href="desejo">Desejo</a><br/>
				<a href="desejo/Add">Desejo Add</a><br/>
				<a href="dialogo">Dialogo</a><br/>
				<a href="dialogo/Add">Dialogo Add</a><br/>
				<a href="emprestimo">Emprestimo</a><br/>
				<a href="emprestimo/Add">Emprestimo Add</a><br/>
				
				<a href="usuario">Usuario</a><br/>
				<a href="usuario/Add">Usuario Add</a><br/>
</body>
</html>